In [735]:
print("Heroes of Pymoli Data Analysis")
print("Observed trend 1: The game is more popular with males than females by a factorof six.")
print("Observed trend 2: In spite of the higher popularity of the game among males, the average purchase size is about the same.")
print(

Heroes of Pymoli Data Analysis
Observed trend 1: The game is more popular with males than females
Observed trend 2: In spite of the higher popularity of the game among males, the average purchase by each gender is about the same (~$3)

In [729]:
import pandas as pd
import numpy as np

In [694]:
file = "purchase_data.json"
purchase_data_df = pd.read_json(file)

In [695]:
##### Player Count
#####     Total Number of Players

In [696]:
PlayerCount = purchase_data_df["SN"].nunique()
# Force into a frame
PlayerCount_df

   Total Players
0            573

In [697]:
##### Purchasing Analysis (Total)
#####     Number of Unique Items

In [698]:
UniqueItemCount = purchase_data_df["Item ID"].nunique()
#print("Number of Unique Items:",UniqueItemCount)

In [699]:
##### Purchasing Analysis (Total)
#####     Average Purchase Price

In [700]:
AverageOverallPurchasePrice =("$%.2f" % purchase_data_df["Price"].mean())
#print("Average Purchase Price:",AverageOverallPurchasePrice)

In [701]:
##### Purchasing Analysis (Total)
#####     Total Number of Purchases

In [702]:
OverallTotalNumberOfPurchases = purchase_data_df["Price"].count()
#print("Total Number of Purchases:",OverallTotalNumberOfPurchases)

In [703]:
##### Purchasing Analysis (Total)
#####     Total Revenue

In [704]:
OverallTotalRevenue = ("$%.2f" % purchase_data_df["Price"].sum())
#print("Total Revenue:",OverallTotalRevenue)

In [705]:
PurchasingAnalysis_dict = [{"Number of Purchases": OverallTotalNumberOfPurchases,
                            "Average Price ": AverageOverallPurchasePrice,
                            "Number of Unique Items ": UniqueItemCount,
                            "Total Revenue": OverallTotalRevenue}]
PurchasingAnalysis_df = pd.DataFrame(PurchasingAnalysis_dict)
PurchasingAnalysis_df

  Average Price   Number of Purchases  Number of Unique Items  Total Revenue
0          $2.93                  780                      183      $2286.33

In [706]:
##### Gender Demographics
#####     Percentage and Count of Male Players
#####     Percentage and Count of Female Players
#####     Percentage and Count of Other / Non-Disclosed

In [707]:
# We need to remove irrelevant columns from purchase details so we can identify individuals uniquely before counting them 
GenderTotalsL1_df = purchase_data_df[["SN","Gender"]]

In [708]:
GenderTotalsL2_df = GenderTotalsL1_df.drop_duplicates()

In [709]:
# This should have worked too, but causes problems downstream: GenderTotalsL3_df = GenderTotalsL2_df["Gender"].value_counts()

GenderTotalsL3_df = GenderTotalsL2_df.groupby("Gender").count().reset_index()
# Rename "SN" column to "Count"
GenderTotalsL3_df=GenderTotalsL3_df.rename(columns = {'SN':'Count'})

In [710]:
Percentage = 100*GenderTotalsL3_df["Count"]/PlayerCount

In [711]:
GenderTotalsL3_df["Percentage"] = Percentage.map("{:.2f}%".format)
GenderTotalsL3_df.columns

Index(['Gender', 'Count', 'Percentage'], dtype='object')

In [712]:
##### Purchasing Analysis (Gender), Broken by Gender
#####     Purchase Count

In [713]:
PurchaseCountByGenderL1_df = purchase_data_df[["SN","Gender"]]
PurchaseCountByGenderL2_df = PurchaseCountByGenderL1_df.groupby("Gender").count()

# Rename "SN" column to "Count"
PurchaseCountByGenderL2_df = PurchaseCountByGenderL2_df.rename(columns = {'SN':'Count'})
PurchaseCountByGenderL2_df

                       Count
Gender
Female                   136
Male                     633
Other / Non-Disclosed     11

In [714]:
##### Purchasing Analysis (Gender), Broken by Gender
#####     Average Purchase Price

In [715]:
AveragePurchaseByGenderL1_df = purchase_data_df[["SN","Gender","Price"]]
AveragePurchaseByGenderL2_df = AveragePurchaseByGenderL1_df.groupby("Gender").mean()
AveragePurchaseByGenderL2_df["Price"] = AveragePurchaseByGenderL2_df["Price"].map("${:.2f}".format)
AveragePurchaseByGenderL2_df = AveragePurchaseByGenderL2_df.rename(columns = {"Price":"Average Purchase"})
AveragePurchaseByGenderL2_df

                      Average Purchase
Gender
Female                           $2.82
Male                             $2.95
Other / Non-Disclosed            $3.25

In [716]:
##### Purchasing Analysis (Gender), Broken by Gender
#####     Total Purchase Value

In [717]:
TotalPurchaseByGenderL1_df = purchase_data_df[["SN","Gender","Price"]]
TotalPurchaseByGenderL2_df = TotalPurchaseByGenderL1_df.groupby("Gender").sum().reset_index()
TotalPurchaseByGenderL2_df["Price"] = TotalPurchaseByGenderL2_df["Price"].map("${:.2f}".format)
TotalPurchaseByGenderL2_df = TotalPurchaseByGenderL2_df.rename(columns = {"Price":"Total Purchase Value"})
TotalPurchaseByGenderL2_df

                  Gender Total Purchase Value
0                 Female              $382.91
1                   Male             $1867.68
2  Other / Non-Disclosed               $35.74

In [718]:
##### Purchasing Analysis (Gender), Broken by Gender
#####     Normalized Totals

In [721]:
GenderNormalizedL1df = pd.merge(GenderTotalsL3_df,TotalPurchaseByGenderL2_df, on=['Gender'])
GenderNormalizedL1df

                  Gender  Count Percentage Total Purchase Value
0                 Female    100     17.45%              $382.91
1                   Male    465     81.15%             $1867.68
2  Other / Non-Disclosed      8      1.40%               $35.74

In [728]:
print("I have worked on this for more than thirty hours and I have a day job. I have run out of time." )

I have run out of time. I have worked on this for more than thirty hours and I have a day job.